<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRACTICE SET 3</title>
    <link rel='stylesheet' href='/home.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%- include('./partials/navstyle') %>
</head>
<body>
    <%- include('./partials/NAVBAR') %>
    <header>
        <h1>WELCOME TO PRACTICE SET 4</h1>
    </header>
    <main>
       <ul>
           <% REGISTERHOME.forEach(home=>{ %>
           <li class='HOMES'>
               <div class='HOME'>
                    <div class='images'>
                        <img class='himg' src="<%= home.PHOTO %>" alt="Home Image">
                    </div>
                    <p class='p1'>
                        <%= home.HOMENAME %>
                    </p>
                    <div class='MAIN'>
                        <div class='LEFT'>
                            <p class='p2'>
                                LOCATION
                            </p>
                            <p class='p3'>
                                PRICE
                            </p>
                            <p class='p3'>
                                RATINGS
                            </p>
                        </div>
                        <div class='RIGHT'>    
                            <p class='p2'>
                                <i class="fa-solid fa-location-dot"></i> <%= home.LOCATION %>
                            </p>
                            <p class='p3'>
                                ₹<%= home.PRICE %>/Night
                            </p>
                            <p class='p3'>
                                <i class="fa-solid fa-star"></i> <%= home.RATINGS %>
                            </p>
                        </div>
                    </div>
                   <button class='Bbtn'>BOOK NOW</button>
               </div>
           </li>
           <% }); %>
       </ul> 
    </main>
    <footer>
        <p>&copy; PRACTICE SET 3</p>
    </footer>
</body>
</html>